<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Learn Vue 2: Step By Step (Laracasts)</title>

        <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    </head>

    <body>

        <div id="app">
            <ul>
                <li v-for="name in names" v-text="name"></li>
            </ul>

            <input type="text" v-model="name">
            <button @click="addName">Add New</button>

        </div>


    <script>

        new Vue({
            el: '#app',
            name: '',
            data: {
                names: ['Shishir', 'Mamun', 'Obydullah', 'Samima'],
            },

            methods: {
                addName() {
                    this.names.push(this.name);

                    this.name = '';
                }
            }

        })

    </script>

    </body>
</html>
